extends ../layout

block content

  link(rel='stylesheet', href='/stylesheets/student_list.css')

  h1= title

  p Cet écran permet d'accéder à la liste de tous les étudiants ayant participé dans la catégorie de cours que vous avez sélectionné.

  p Les controles permettant de filtrer les évènements sur la date ne sont pas encore fonctionnels, mais le seront très prochainement. Vous pouvez cliquer sur n'importe quel étudiant pour accéder à un aperçu de son parcours. Il est possible de sélectionner plusieurs étudians afin de pouvoir comparer rapidement leurs parcours.

  form.form-horizontal
    div.form-group
      label.col-sm-1.control-label(for='from') Du
      div#fromInput.input-group.date.col-sm-2
        input#from.form-control(type='text')
        span.input-group-addon
          i.glyphicon.glyphicon-th

    div.form-group
      label.col-sm-1.control-label(for='to') au
      div#toInput.input-group.date.col-sm-2
        input#to.form-control(type='text')
        span.input-group-addon
          i.glyphicon.glyphicon-th

    div.form-group
      div.col-sm-offset-1
        button#filter.btn.btn-default Filtrer

  div
    ul
    for item in students
      li 
        a #{item._id.subject} - #{item.number} enregistrements 

  script(type='text/javascript').
    function getCurrentPath() {
      var currentLocation = window.location;
      console.log(currentLocation);
      return currentLocation.origin + currentLocation.pathname;
    }

  script(type='text/javascript').
    var fromDate, toDate;
    var utcFromDate, utcToDate;

    $('#filter').on('click', function(event) {
      event.stopPropagation();
      event.preventDefault();
      
      window.location.replace(getCurrentPath() + '?fromDate=' + utcFromDate + '&toDate=' + utcToDate);
    })

    $('#fromInput.input-group.date').datepicker({
      format: "dd/mm/yyyy",
      weekStart: 1,
      language: "fr",
      autoclose: true,
      todayHighlight: true
    }).on('changeDate', function(data) {
        fromDate = data.date;
        utcFromDate = Date.UTC(fromDate.getFullYear(),
                               fromDate.getMonth(),
                               fromDate.getDate(),
                               fromDate.getHours(),
                               fromDate.getMinutes(),
                               fromDate.getSeconds(),
                               fromDate.getMilliseconds());
        
        console.log(fromDate);
        console.log(utcFromDate);
    });

    console.log(typeof(fromDate))

    var paramFromDate = new Date(#{fromDate});
    $('#fromInput.input-group.date').datepicker('setDate', paramFromDate);

    $('#toInput.input-group.date').datepicker({
      format: "dd/mm/yyyy",
      weekStart: 1,
      language: "fr",
      autoclose: true,
      todayHighlight: true
    }).on('changeDate', function(data) {
      toDate = data.date;
      utcToDate = Date.UTC(toDate.getFullYear(),
                             toDate.getMonth(),
                             toDate.getDate(),
                             toDate.getHours(),
                             toDate.getMinutes(),
                             toDate.getSeconds(),
                             toDate.getMilliseconds());

      console.log(toDate);
      console.log(utcToDate);
    });

    var paramToDate = new Date(#{toDate});
    $('#toInput.input-group.date').datepicker('setDate', paramToDate);

  script(type='text/javascript').
    var elements = d3.selectAll("li");
    elements.data(!{JSON.stringify(students)});
    elements.on('click', function(d) {
      //console.log('click');
      console.log(this);
      console.log(d);

      if (d.expanded === undefined || d.expanded === false) {
        d.expanded = true;

        d3.select(this).append("div")
          .attr('style', 'clear: both');

        d3.select(this).append("iframe")
          .attr('src', getCurrentPath() + '/' + d._id.subject + '?fromDate=' + !{fromDate} + '&toDate=' + !{toDate})
          .attr('width', 660)
          .attr('height', 350)
          .attr('style', 'float: left');
      } else {
        d.expanded = false;

        d3.select(this).select("iframe").remove();
        d3.select(this).select("div").remove();
      }
    });